// Cores do arco-íris para personalização
$color-pink-light: #faada5;
$color-pink: #ffb8cc;
$color-peach: #fee7c3;
$color-orange-light: #ffce9f;
$color-yellow: #fff699;
$color-lime: #e9ed98;
$color-green-light: #b6eea7;
$color-teal: #a6f5d8;
$color-blue-light: #b7e7f3;
$color-cyan: #99f9ff;
$color-blue: #a1c4fe;
$color-purple-light: #9e99ff;
$color-lavender: #d5bcfe;
$color-purple: #c572f8;
$color-pink-bright: #ffbdfb;
$color-beige: #bcaea1;
$color-beige-dark: #d2c09a;
$color-brown-light: #a97a7a;
$color-gray: #dddddd;
$color-gray-dark: #66747f;

